<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!-- MySQL example -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/euro08</property>
  <property name="hibernate.connection.username">euro08</property>
  <property name="hibernate.connection.password">hophop</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <!-- Only uncomment below if you wish for Hibernate to autogenerate your db entities. 
           You should run the provided trainer sql script to seed your database.
property name="hibernate.hbm2ddl.auto">create</property
 JDBC connection pool (use the built-in) -->
  <property name="connection.pool_size">1</property>
  <!-- Important! addendum to what is in text -->
  <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">true</property>
  <mapping resource="ch/bfh/euro08/hibernate/beans/User.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
